@font-face {
  font-family: "Braille Octant Mono";
  src: url('https://cdn.jsdelivr.net/gh/brejeira21/braille-octant-mono@master/braille-octant-mono[1].ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
    margin: 0px;
    overflow: hidden;
    background-color: #CCCCCC;
    background-size: 16px;
    image-rendering: pixelated;
    font-family: "Braille Octant Mono";
    font-size: 20px;
}
#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: text;
}
#ta {
    position: absolute;
    top: -1000px;
    left: -1000px;
}
#chat {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #00000040;
}
#coords {
    background-color: #CCCCCC;
    user-select: none;
    width: fit-content;
}
#menu {
    position: absolute;
    top: 0px;
    left: 0px;
}
#done {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#chatbox {
    background-color: lightpink;
    height: 250px;
    word-wrap: break-word;
    overflow: auto;
    width: 364px;
}
#chatbar {
    width: 300px;
}
button, input[type="text"], input[type="number"] {
    font-family: "Braille Octant Mono";
    font-size: 20px;
    background-color: #888888;
    outline: none;
}
#admin_logs {
    width: min-content;
    background-color: black;
    color: white;
    position: absolute;
}
#logs {
    width: 400px;
    height: 300px;
    word-wrap: break-word;
    overflow: auto;
}
